@import "mixin";
@media screen and (min-width: 1200px){
	.wrapper{
		width: 1200px;
		margin: 0 auto;
	}
	header{
		margin: 0 auto;
		padding: 10px;
		.header-Top{
			&:after{.clearFix;}
			.logo{
				float: left;
				margin-right: 67px;
				.logo-Images{
					display: block;
					width: 174px;
					height: 80px;
					background: url("../img/logo_big.jpg") no-repeat;
					margin: 0 auto;
				}
			}
			.phone-search{
				float: left;
				width: 355px;
				.contact{
					display: inline-block;
					margin: 5px 0 10px;
					.phone{
						font: bold italic 34.15px "Arial"; 
						float: left;
						display: block;
						margin-right: 18px;
						letter-spacing: -1px;
						span{font: italic 22.7px "Arial";}
					}
				}
				.search{
					position: relative;
					width: 312px;
					margin-left: -12px;
					div{
						&:after{.clearFix;}
						display: block;
					   .border-radius(5px 1px 5px 1px);
					   border: 1px solid @grey;
					   .skew(-21deg,0deg);
					   box-shadow: inset 0 1px 2px @grey;
					   padding: 2px;
					   input{
					    	font: italic 15px Arial;
					    	color: @grey;
					    	.skew(20deg,0deg);
					    	float: left;
					    	padding: 3px 0 0 0;
					    	margin-left: 10px;
					    	width: 243px;
					   }
						button{
							display: block;
						   width: 53px;
						   height: 21px;
							.skew(0deg,0deg);
							.border-radius(5px 1px 5px 1px);
							border: 1px solid @grey;
							.gradient;
							&:before{
								.before;
								top: 4px;
								left: 18px;
								width: 19px;
								height: 11px;
								background: url('../img/sprite.png');
								background-position: 0 0;
								.skew(20deg,0);
							}
							&:after{background: none;}
						}
					}	
				}
			}
			.online-Help{
				border: 1px solid #6cbe68;
				.border-radius(5px);
				width: 87px;
				height: 87px;
				position: relative;
				.linear-gradient (top, #ffffff, #e1e1e1);
				float: left;
				.border-box;
				margin: 3px 0 0 70px;
				&:hover{cursor: pointer;}
				.online-counter{
					display: block;
					position: absolute;
					top: 2px;
					right: 2px;
					width: 9px;
					height: 9px;
					background: url("../img/online.png") no-repeat;
				}
				span{
					font: bold 13px/14px "Arial";
					color: @darkGrey;
					padding-top: 55px;
					display: block;
					text-align: center;
				}
				&:before{
					.before;
					width: 85px;
					height: 60px;
					top: -6px;
					left: 2px;
					background: url('../img/consultant.png') no-repeat;
				}
			}
			.user-Account{
				width: 210px;
	    		margin: 5px 15px 0 0;
	    		float: right;
				.login{
					position: relative;
					margin: 0 0 0 20px;
					&:before{
						.before;
						top: -2px;
						left: -23px;
						width: 19px;
						height: 18px;
						background: url('../img/sprite.png') -19px -2px;
					}
					span.feedback{
						display: inline-block;
						font-style: normal;
					}
				}
				.basket{
					border: 1px solid lighten(@grey, 10%);
					.border-radius(3px);
					margin-top: 13px;
					padding: 9px 6px 14px;
					position: relative;
					&:before{
						.before;
						top: 22px;
						right: 11px;
						width: 13px;
						height: 12px;
						background: url('../img/sprite.png') -25px -28px;
					}
					.user-Goods{
						position: relative;
					   color: @darkBlue;
					   text-decoration: underline;
					   font: 900 22px Arial;
					   font-style: italic;
    					padding: 0px 0 0 56px;
					   &:before{
					   	.before;
					   	top: -2px;
					   	left: 12px;
					   	width: 38px;
					   	height: 38px;
					   	background: url('../img/sprite.png') -71px -40px;
					   }
					}
					.counter{
						display: block;
						position: absolute;
						top: 4px;
						left: 30px;
						color: @red;
						.linear-gradient (top, #ffffff, #e1e1e1);
						.border-radius(50%);
						font: bold 18px "Arial";
						text-align: center;
						width: 20px;
						height: 20px;
						border: 1px solid @grey;
					}
				}
			}
			.shadow-bg{
				padding-bottom: 10px;
				.bg-shadow-container-link;
				.linkContainer-item{
					clear: both;
					display: block;
					padding: 12px 0 5px;
				}
			}
		}
		.navMenu{
			.gradient-nav-menu;
			.border-radius(4px);
			-webkit-box-shadow: inset 0px 1px 1px #3a83b3;
			box-shadow: inset 0px 1px 1px #3a83b3; 
			border-top: 1px solid #246188;
			height: 56px;
			&:after{.clearFix}
			nav{
				float: left;
				ul{
					li{
						display: block;
						float: left;
					   position: relative;
					   border-right: 1px solid #164d70;
					   border-left: 1px solid #2f6b92;
					   padding: 10px 48px 11px 25px;
					   z-index: 999;
					   .border-box;
					   &:first-of-type{
					   	border-left: 0;
					      padding: 10px 52px 11px 32px;
					 	}
					   &:last-of-type{border-right: 0;}
						&:after{
							.before;
							top: 20px;
							right: 10px;
							width: 13px;
							height: 12px;
							background: url("../img/sprite.png") -25px -28px;
						}
						a{
							color: #fff;
							font: bold 13px/17px "Arial";
							text-decoration: none;
							display: block;
							width: 113px;
						}
					}
					.active{
						&:before{
					   	.before;
					   	display: none;
					   	bottom: 1px;
						   width: 100%;
						   height: 7px;
						   background: #fff;
						   left: 0px;
					   }
					   &:hover:before{
					   	display: block;
					   }
						&:hover{
							position: relative;
							font-weight: bold;
							.gradient;
							border: 7px solid @lightBlue;
							border-bottom: 0;
							.border-radius(10px 10px 0 0);
							top: -10px;
						   padding: 15px 50px 19px 11px;
						   z-index: 9999;
						}
						&:hover a{color: @darkBlue;}
						&:hover a:hover{text-decoration: underline;}
						ul.submenu{
							visibility:hidden;
							opacity: 0;
							border: 7px solid @lightBlue;
						   width: 865px;
						   padding: 20px 0 40px 60px;
						   position: absolute;
						   z-index: -1;
						   display: block;
						   top: 60px;
						   left: -205px;
						   background: #fff;
						   .border-radius(10px);
						   .transition(opacity .2s linear);
						   .box-shadow(2px 4px 5px @grey);
							ul{
								display: inline-block;
								vertical-align: top;
								width: 24%;
								h3{
									color: @darkGrey;
									font: bold 15px/18px "Arial";
									text-decoration: underline;
									margin-bottom: 15px;
								}
								li{
									border: 0;
									padding: 0 0 5px 0;
									clear: both;
									background: 0;
									top: 0;
									&:after{display: none;}
									&:before{display: none;}
									&:hover{padding: 0 0 5px;};
									a{
										.title;
										width: 100%;
										&:before{display: none;}
									}
								}
							}
						}
						&:hover ul.submenu{
							visibility: visible;
							opacity: 1;
							.transition(opacity .2s linear);
						}
					}
				}
			}
			button{display: none;}
		}
	}
	main{
		padding: 0 10px;
		margin: 22px 0 0;
		.promo{
			position: relative;
			&:after{.clearFix;}
			.promo-Slider{
				float: left;
				input{display: none;}
				label{
					display: block;
					float: left;
					width: 16px;
					height: 25px;
					font: bold 13px "Arial";
					text-shadow: 0 -1px 1px @grey;
					text-align: center;
					line-height: 32px;
					color: #fff;
					background: @lightBlue;
					border: 2px solid @lightBlue;
					border-top: 0;
					margin-right: 3px;
					.border-radius(0 0 5px 5px);
					position: relative;
					top: 235px;
					left: 5px;
    				z-index: 9;
					&:hover{cursor: pointer;}
				}
				input:checked + label{
					background: #fff;
					color: @red;
				}
				.tab_containers{
					width: 775px;
					height: 242px;
					margin: 0 auto;
					background: url("../img/tabs_bg.jpg") no-repeat;
					position: relative;
					.border-radius(5px);
					border: 7px solid @lightBlue;
					.border-box;
					h2{
						font: normal 30.61px/33px "CenturyGothic";
						color: @violet;  
						padding: 10px 0 13px 26px;
    					letter-spacing: -2px;
    					position: absolute;
    					top: 0;
					}
					p{
						margin: 84px 0 15px;
    					padding: 0 0 0 30px;
						font: normal 15px/21px "CenturyGothic";
					}
					a{
						display: block;
						width: 276px;
						height: 46px;
						background: url('../img/bg_promo_button.png') no-repeat;
						color: #fff;
						font: bold 18px/46px "CenturyGothic";
						text-align: center;
						margin: 0 0 0 26px;
						text-decoration: none;
						letter-spacing: -1px;
					}
				}
				input#tab_1 + label ~ .tab_containers .tab_1_conts,
				input#tab_2 + label ~ .tab_containers .tab_2_conts,
				input#tab_3 + label ~ .tab_containers .tab_3_conts,
				input#tab_4 + label ~ .tab_containers .tab_4_conts,
				input#tab_5 + label ~ .tab_containers .tab_5_conts{
					display: none;
				}
				input#tab_1:checked + label ~ .tab_containers .tab_1_conts,
				input#tab_2:checked + label ~ .tab_containers .tab_2_conts,
				input#tab_3:checked + label ~ .tab_containers .tab_3_conts,
				input#tab_4:checked + label ~ .tab_containers .tab_4_conts,
				input#tab_5:checked + label ~ .tab_containers .tab_5_conts {
					display: block;
				}
			}
			.action{
				float: left;
			   width: 350px;
			   margin-left: 25px;
				h1{
					color: @red;
					font: 900 italic 25px "Arial";
					margin: -10px -5px 0 0;
				}
				figure{
					margin: 10px 0 0 0;
					display: inline-block;
					.image-Wrap{
						display: block;
					   width: 54px;
					   float: left;
					   margin: 0 25px 0 0;
						img{padding: 5px 0 0 13px;}
					}
					p{
						.title{
							font-size: 13px;
							margin-right: 5px;
							&:link{color: @darkBlue;}
						   &:visited{color: @visitLink;}
						}
					}
				}
				.bevelButton{
					.skewButton;
					position: relative;
					display: inline-block;
					margin: 18px 0 0 2px;
					&:before{.skewButton_Arrow;}
				}
			}
		}
		.tab{
			margin: 15px auto 0;
			position: relative;
			input{display: none;}
			.subList{display: none;}
			label{
				display: block;
				float: left;
				font: 900 italic 18px "Arial";
				text-align: center;
				color: @darkBlue;
				border-bottom: 1px dashed @darkBlue;
				margin: 10px 1px 10px 15px;
    			padding: 10px 5px 0;
				position: relative;
				top: 1px;
    			z-index: 9;
				&:hover{cursor: pointer;}				
			}
			input:checked + label{
				font: 900 italic 20px "Arial";
				border: 1px solid @lightBlue;
				border-bottom: 0;
				.gradient;
				color: @red;
				padding: 10px 30px;
				.border-radius(5px 5px 0 0);
				margin-bottom: 0;
				&:first-of-type{margin-bottom: 0; margin-left: 0;}
			}
			.special_tab_containers{
				clear: both;
				border: 1px solid @lightBlue;
				.border-radius(0 5px 5px); 
				.topSection{
					margin: 10px 22px 0;
					&:after{.clearFix;}
					.bevelButton{
						.skewButton;
						float: right;
						position: relative;
						&:before{.skewButton_Arrow;}
					}
				}
				.scroll-img{
					ul{
						li{
							.container_item{
								width: 200px;
								.preview-Picture{
									height: 125px;
									img{
										display: block;
									}
								}
								.commerce_text{
									color: @red;
									font: normal 13px/18px "Arial";
									display: block;
									clear: both;
									margin-bottom: 5px;
								}
								.title{
									letter-spacing: -1px;
								}
								.old_price{
									span{
										display: inline-block;
										position: relative;
										font: bold 15px "Arial";
										color: #999999;
										&:before{
											.before;
											background: @red;
											width: 100%;
											height: 1px;
											top: 50%;
										}
									}
								}
								.usd{
									font: 11px "Arial";
									color: @green;
									display: block;	
								}
								.tooltip{
									position: absolute;
									top: 0;
									right: 10px;
									width: 71px;
									height: 105px;
									background: url("../img/tooltip.png");
									z-index: 99;
									img{
										display: block;
										margin: 5px 0 0 13px;
									}
								}
								.bevelButton{
									.gradient; 
									.skew(-21deg,0deg);
									.border-radius(5px 1px 5px 1px);
									border: 1px solid @grey;
									padding: 0px 45px 0px 6px;
									margin-top: 5px;
									position: relative;
									clear: both;
									display: inline-block;
									font: 900 18px "Arial";
									color: #333333;
									text-decoration: none;
									span{
										.skew(13deg,0deg);
										display: block;
										float: left;
									}
									.small-Text{
										font: 100 13px "Arial";
										margin: 7px 0 0 2px;
									}
									&:before{
										.before;
										top: 3px;
										right: 8px;
										background: url("../img/sprite.png") -2px -24px;
										width: 19px;
										height: 20px;
										.skew(21deg,0deg);
									}
								}
							}
							.superPrice, .sale, .gift{position: relative;}
							.superPrice:before, .sale:before, .gift:before{
								.before;
								top: -15px;
								left: -10px;
								background: url("../img/sprite.png");
								width: 68px;
								height: 41px;
							}
							.superPrice:before{background-position: 0 -235px;}
							.sale:before{background-position: 0 -277px;}
							.gift:before{background-position: 0 -193px;}
						}
					}
				}
			}
			input#special_tab_1 + label ~ .special_tab_containers .special_tab_1_conts,
			input#special_tab_2 + label ~ .special_tab_containers .special_tab_2_conts,
			input#special_tab_3 + label ~ .special_tab_containers .special_tab_3_conts,
			input#special_tab_4 + label ~ .special_tab_containers .special_tab_4_conts{
				display: none;
			}
			input#special_tab_1:checked + label ~ .special_tab_containers .special_tab_1_conts,
			input#special_tab_2:checked + label ~ .special_tab_containers .special_tab_2_conts,
			input#special_tab_3:checked + label ~ .special_tab_containers .special_tab_3_conts,
			input#special_tab_4:checked + label ~ .special_tab_containers .special_tab_4_conts{
				display: block;
			}
		}
		.brand{
			margin: 30px 0 0;
			border-bottom: 1px solid #c4c4c4;
    		padding: 0 0 25px;
			.topSection{
				padding: 10px 0 0;
				&:after{.clearFix}
				p{
					float: left;
					color: #333333;
					font: italic bold 15px "Arial";
				}
				.bevelButton{
					.skewButton;
					float: right;
					position: relative;
					margin: 5px 12px 0 0;
					&:before{.skewButton_Arrow;}
				}
			}
			.brand-Row{
				margin: 10px 0 0;
				position: relative;
				&:before{
					.before;
					width: 1px;
					height: 112px;
					top: 0;
					left: 0;
					background: #fff;
					z-index: 1;
				}
				&:after{.clearFix;}
				.half-Row-Brand{
					margin: 0 0 3px;
					float: left;
					&:before{display: none;}
					&:after{.clearFix;}
					.wrap-Block{
						text-align: center;
						float: left;
						&:after{.clearFix;}
						img{vertical-align: middle;}
						.upper-Block{
							border-bottom: 1px solid #cecece;
							&:after{.clearFix;}
							div{
								width: 147px;
								height: 60px;
								float: left;
								line-height: 60px;
								position: relative;
								&:before{
								   .before;
								   width: 1px;
								   height: 56px;
								   background: #dddcdc;
									background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 22%, #e8e7e7 67%, #e4e3e3 83%, #e3e2e2 100%);
									background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 22%,#e8e7e7 67%,#e4e3e3 83%,#e3e2e2 100%);
									background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 22%,#e8e7e7 67%,#e4e3e3 83%,#e3e2e2 100%);
							      top: 4px;
								   bottom: 0;
								   width: 1px;
								}
							}
						}	
						.lower-Block{
							&:after{.clearFix;}
							div{
								width: 147px;
								height: 60px;
								position: relative;
								float: left;
								line-height: 60px;
								&:before{
									.before;
								   width: 1px;
								   height: 56px;
								   background: #dddcdc;
									background: -moz-linear-gradient(top, #dddcdc 0%, #dddcdc 13%, #e0dfdf 25%, #fbfbfb 95%, #ffffff 96%, #ffffff 100%);
									background: -webkit-linear-gradient(top, #dddcdc 0%,#dddcdc 13%,#e0dfdf 25%,#fbfbfb 95%,#ffffff 96%,#ffffff 100%);
									background: linear-gradient(to bottom, #dddcdc 0%,#dddcdc 13%,#e0dfdf 25%,#fbfbfb 95%,#ffffff 96%,#ffffff 100%);
								   top: 0px;
								   bottom: 0px;
								   width: 1px;
								}
							}
						}
					}
				}
			}
			.detail-Brand{
				margin: 10px 0 0 0;
				ul{
					width: 143px;
					display: inline-block;
					vertical-align: top;
					li{
						line-height: 20px;
						a{
							.title;
							font-size: 11px;
						}
					}
				}
			}
		}
		.news-List{
			margin: 30px 0 20px;
			padding: 0 0 55px;
			border-bottom: 4px solid @lightBlue;
			position: relative;
			&:before{
				.before;
				left: 10%;
				bottom: 2px;
				width: 941px;
				height: 50px;
				background: url("../img/shadow_down.png") no-repeat;
			}
			.topSection{
				padding: 0 0 17px;
				&:after{.clearFix}
				h2{
					float: left;
					color: #333333;
					font: italic 900 20px "Arial";
				}
				.bevelButton{
					.skewButton;
					float: right;
					position: relative;
					margin: 0 35px 0 0; 
					&:before{.skewButton_Arrow;}
				}
			}
			.news-String{
				&:after{.clearFix;}
				.news{
					float: left;
					width: 260px;
					margin: 0 35px 0 0;
					&:last-of-type{margin-right: 0;}
					.picture-News{
						width: 185px;
						height: 127px;
						margin-bottom: 12px;
						img{
							padding: 0 25px 0 5px;
						}
					}  
					.title{
						display: block;
						margin: 0 0 10px;
						&:link{color: @darkBlue;}
						&:visited{color: @visitLink;}
					}
					p{
						line-height: 20px;
						height: 145px;
						overflow: hidden;
					}
				}
			}
		}
	}
	footer{
		padding: 0 15px;
		.container{
			.description{
				font: 15px "Arial";
				padding: 2px 0 5px;
				span{padding-right: 5px;}
			}
			.container_item{
				margin: 30px 0 30px;
				float: left;
				width: 26%;
				position: relative;
				&:last-of-type{
					width: 21%;
   				padding: 25px 0;
   				&:before{
   					.before;
   					top: 0;
   					left: -25px;
   					width: 1px;
   					height: 138px;
   					background: url("../img/border-left-container-item.png") no-repeat;
   				}
				}
				&:after{.clearFix;}
				div{
					margin: 0 50px 0 0;
					&:last-of-type{
						margin: 20px 0 0;
						a.description{
							clear: both;
							display: block;
							text-decoration: underline;
						}
					}	
					.description{
						padding: 0;
						line-height: 18px;
						&:first-of-type{font-weight: bold;}
						&:last-of-type{font-weight: normal;}
					}
				}
				.phone{
					font: bold 24px "Arial";
					letter-spacing: -1px;
					span{font-weight: normal;}
				}
				.bevelButton{
					.skewButton;
					float: left;
					padding-right: 10px;
					padding-left: 10px;
					margin-bottom: 10px;
					text-decoration: inherit;
					span{
						font-size: 13px;
						border-bottom: 1px dashed @darkBlue;
						text-decoration: none !important;
					}
					&:before{display: none;}
				}
				.description{font-size: 13px;}
				.mastercard, .webmoney, .visa{
					position: relative;
					display: block;
					margin-right: 10px;
					float: left;
					&:before{
						.before;
						height: 28px;
						top: 0;
						background: url(../img/sprite.png);
					}
				}
				.visa:before{background-position: -3px -44px; width: 65px;	left: 0;}
				.mastercard:before{background-position: -3px -73px; width: 44px; left: 71px;}
				.webmoney:before{background-position: 0 -103px; width: 104px; left: 121px;}
				.title{
					position: relative;
					line-height: 39px;
				   padding: 0px 0 0 35px;
				   font-size: 13px;
				   display: block;
					&:last-of-type{margin: 0;}
				}
				.fb, .vk, .tw {position: relative;}
				.fb:before, .vk:before, .tw:before{
					.before;
					top: 3px;
					left: 0;
					width: 31px;
					height: 31px;
					background: url("../img/sprite.png")
				}
				.fb:before{	background-position: -65px -131px;}
				.vk:before{ background-position: -1px -131px;}
				.tw:before{ background-position: -33px -131px;}
				ul.center{
					width: 200px;
					padding-left: 25px;
					display: block;
					li{
						display: block;
						.company{
							display: block;	
							width: 115px;
							height: 22px;
							background: url("../img/sprite.png") 0 -168px;
							margin-right: 15px;
						}
						div{
							line-height: 13px;
						   font-size: 12px;
						   color: @grey;
						   margin: 0;
						   span{
						    	color: #4e4e4e;
						    	clear: both;
						    	display: block;
						   }
							a{
								color: #0066aa;
								text-decoration: underline;
								display: block;
    							margin: 0px 0 10px;
						   }
						}
					}
				}
			}
		}
	}
}
