@font-face {
   font-family: 'CenturyGothic';
   src: url('../fonts/CenturyGothic.eot');
   src: url('../fonts/CenturyGothic.eot') format('embedded-opentype'),
      url('../fonts/CenturyGothic.woff2') format('woff2'),
      url('../fonts/CenturyGothic.woff') format('woff'),
      url('../fonts/CenturyGothic.ttf') format('truetype'),
      url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
} 
*{padding: 0;margin: 0;} 
input, button{border: 0;}
input:focus, button:focus{outline: none;}
header, nav{display: block;}
ol li,ul li{list-style: none;}
a, img{border: 0;}
a:hover{text-decoration: none; cursor: pointer;}

@darkBlue: #105a8f;
@lightBlue: #689cbe;
@grey: #c4c4c4;
@darkGrey: #333333;
@red: #d10000;
@green: #5c9559;
@violet: #6640c7;
@visitLink: #6611cc;
.clearFix{
	content: '';
	display: block;
	clear: both;
}
.linear-gradient (@origin: top, @start: #ffffff, @stop: #000000) {
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}
.bg-shadow-container-link{
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 47%, #e8e8e8 85%, #efefef 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 47%,#e8e8e8 85%,#efefef 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 47%,#e8e8e8 85%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}
.gradient {
	background: #fbfbfb;
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #fefefe 6%, #fafafa 28%, #f5f6f6 44%, #eceded 61%, #efefef 72%, #fdfdfd 94%, #fdfdfd 100%);
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#fefefe 6%,#fafafa 28%,#f5f6f6 44%,#eceded 61%,#efefef 72%,#fdfdfd 94%,#fdfdfd 100%);
	background: linear-gradient(to bottom,  #fbfbfb 0%,#fefefe 6%,#fafafa 28%,#f5f6f6 44%,#eceded 61%,#efefef 72%,#fdfdfd 94%,#fdfdfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#fdfdfd',GradientType=0 );
}
.gradient-nav-menu{
	background: #186ca3;
	background: -moz-linear-gradient(top,  #186ca3 0%, #0e649c 12%, #0d5d90 37%, #054c7b 71%, #044977 82%, #044977 88%, #044e7f 92%, #095d94 98%, #13689e 100%);
	background: -webkit-linear-gradient(top,  #186ca3 0%,#0e649c 12%,#0d5d90 37%,#054c7b 71%,#044977 82%,#044977 88%,#044e7f 92%,#095d94 98%,#13689e 100%);
	background: linear-gradient(to bottom,  #186ca3 0%,#0e649c 12%,#0d5d90 37%,#054c7b 71%,#044977 82%,#044977 88%,#044e7f 92%,#095d94 98%,#13689e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186ca3', endColorstr='#13689e',GradientType=0 );
}
.skew (@deg, @deg2) {
	-webkit-transform: skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 	 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.border-radius (@radius: 1px 1px 1px 1px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	-ms-border-radius:     @radius;
	border-radius:         @radius;
}
.border-box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.feedback{
	text-decoration: none;
	border-bottom: 1px dotted @darkBlue;
	font: italic 13px "Arial";
	color: @darkBlue;
}
.skewButton_Arrow{
	.skew(20deg,0deg);
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	right: 5px;
	width: 21px;
	height: 11px;
	background: url('../img/sprite.png') -75px 0;
}
.title{
	color: @darkBlue;
	font: 15px "Arial";
	text-decoration: underline;
	&:hover{color: @red;};
}
.description{
	font: normal 13px "Arial";
	color: #333333;
	white-space: pre-line;
	padding-top: 5px;
}
.before{
	content: '';
	display: block;
	position: absolute;
}
.skewButton{
	.gradient; 
	.skew(-21deg,0deg);
	.border-radius(5px 1px 5px 1px);
	border: 1px solid @grey;
	padding: 3px 30px 5px 6px;
	color: @darkBlue;
	text-decoration: none;
	&:hover{cursor: pointer;}
	&:hover span{border-bottom: 1px solid transparent;}
	span{
		font: bold 15px "Arial";
		border-bottom: 1px solid @darkBlue;
		display: block;
		.skew(20deg,0deg);
	}
	&:before{.skewButton_Arrow}
}
.linkContainer-item{
	.title{
		font: 13px/20px "Arial";
		display: inline-block;
		margin: 0 7px 0 0;
	}
	.help{
		position: relative;
		padding-left: 20px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 17px;
			height: 17px;
			background: url(../img/sprite.png) -44px -24px;
		}
	}
}