
.scroll-img {
  width: 680px;
  overflow: hidden;
  margin: 0 auto; 
}
.scroll-img ul {
  width: 700px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 25px 50px 20px 26px;
  vertical-align: top;
}

#demo5.scroll-img ul {
  width: 1500px;
  padding: 0;
}


@media screen and (min-width: 1px) and (max-width: 600px){
  .scroll-img{
    width: 210px;
    overflow: hidden;
    margin: 0 auto;
  }
  .scroll-img ul li{
    padding: 0 20px;
    margin: 25px auto;
  }
  .btn{
    display: block;
    position: absolute;
    top: 39%;
    width: 21px;
    height: 57px;
    background: url("../img/sprite.png");
  }
  .btn:hover{cursor: pointer;}
  #demo5-backward{
    left: 5px;
    background-position: -70px -193px;
  }
  #demo5-backward:hover{background-position: -70px -254px;}
  #demo5-forward{
    right: 5px;
    background-position: -94px -193px;
  }
  #demo5-forward:hover{background-position: -94px -254px;}
}

@media screen and (min-width: 601px) and (max-width: 999px){
  .scroll-img{
    width: 490px;
    overflow: hidden;
    margin: 0 auto;
  }
  .btn{
    display: block;
    position: absolute;
    top: 39%;
    width: 21px;
    height: 57px;
    background: url("../img/sprite.png");
  }
  .btn:hover{cursor: pointer;}
  #demo5-backward{
    left: 5px;
    background-position: -70px -193px;
  }
  #demo5-backward:hover{background-position: -70px -254px;}
  #demo5-forward{
    right: 5px;
    background-position: -94px -193px;
  }
  #demo5-forward:hover{background-position: -94px -254px;}
}

@media screen and (min-width: 1000px) and (max-width: 1199px){
  .scroll-img{
    width: 840px;
    overflow: hidden;
    margin: 0 auto;
  }
  .scroll-img ul li{
    margin: 25px 10px 20px;
  }
  .btn{
    display: block;
    position: absolute;
    top: 39%;
    width: 21px;
    height: 57px;
    background: url("../img/sprite.png");
  }
  .btn:hover{cursor: pointer;}
  #demo5-backward{
    left: 5px;
    background-position: -70px -193px;
  }
  #demo5-backward:hover{background-position: -70px -254px;}
  #demo5-forward{
    right: 5px;
    background-position: -94px -193px;
  }
  #demo5-forward:hover{background-position: -94px -254px;}
}

@media screen and (min-width: 1200px){
  .scroll-img{
    width: 1040px;
    overflow: hidden;
    margin: 0 auto;
  }
  .scroll-img ul li{
    margin: 25px 8px 20px;
  }
  .btn{
    display: block;
    position: absolute;
    top: 39%;
    width: 21px;
    height: 57px;
    background: url("../img/sprite.png");
  }
  .btn:hover{cursor: pointer;}
  #demo5-backward{
    left: 5px;
    background-position: -70px -193px;
  }
  #demo5-backward:hover{background-position: -70px -254px;}
  #demo5-forward{
    right: 5px;
    background-position: -94px -193px;
  }
  #demo5-forward:hover{background-position: -94px -254px;}
}