@import "mixin";
@media screen and (min-width: 600px) and (max-width: 999px){
	.wrapper{
		width: 600px;
		margin: 0 auto;
	}
	header{
		margin: 0 auto;
		padding: 10px;
		.header-Top{
			margin-bottom: 10px;
			&:after{.clearFix;}
			.logo{
				float: left;
				margin-right: 45px;
				.logo-Images{
					display: block;
					width: 124px;
					height: 56px;
					background: url("../img/logo_small.jpg") no-rpeat;
					margin: 0 auto;
				}
			}
			.phone-search{
				float: left;
				width: 260px;
				.contact{
					margin-bottom: 15px;
					.phone{
						font: italic 18px "Arial"; 
						float: left;
						display: block;
						margin-right: 18px;
					}
				}
				.search{
					position: relative;
					width: 230px;
					div{
						&:after{.clearFix;}
						display: block;
					   .border-radius(5px 1px 5px 1px);
					   border: 1px solid @grey;
					   .skew(-21deg,0deg);
					   box-shadow: inset 0 1px 2px @grey;
					   padding: 2px;
					   input{
					    	font: italic 15px Arial;
					    	color: @grey;
					    	.skew(20deg,0deg);
					    	float: left;
					    	padding: 3px 0 0 0;
					    	margin-left: 10px;
					    	width: 160px;
					   }
						button{
							display: block;
						   width: 53px;
						   height: 21px;
							.skew(0deg,0deg);
							.border-radius(5px 1px 5px 1px);
							border: 1px solid @grey;
							.gradient;
							&:before{
								.before;
								top: 4px;
								left: 18px;
								width: 19px;
								height: 11px;
								background: url('../img/sprite.png');
								background-position: 0 0;
								.skew(20deg,0);
							}
							&:after{background: none;}
						}
					}	
				}
			}
			.online-Help{display: none;}
			.user-Account{
				width: 119px;
	    		margin-left: 28px;
	    		float: left;
				.login{
					font-style: normal;
					position: relative;
					margin-left: 37px;
					&:before{
						.before;
						top: -5px;
						left: -23px;
						width: 19px;
						height: 18px;
						background: url('../img/sprite.png') -19px -2px;
					}
					span.feedback{
					   overflow: hidden;
					   display: inline-block;
					   height: 17px;
					   width: 28px;
					   padding: 0 2px;
					   font-style: normal;
					}
				}
				.basket{
					border: 1px solid lighten(@grey, 10%);
					.border-radius(3px);
					margin-top: 3px;
					padding: 5px 5px 8px;
					position: relative;
					&:before{
						.before;
						top: 12px;
						right: 8px;
						width: 7px;
						height: 7px;
						background: url('../img/sprite.png') -65px -1px;
					}
					.user-Goods{
						position: relative;
					   color: #1577bd;
					   text-decoration: underline;
					   font: bold 12pt Arial;
					   font-style: italic;
					   padding-left: 44px;
					   letter-spacing: -1px;
					   padding: 0 0 0 30px;
					   &:before{
					   	.before;
					   	top: 0px;
					   	left: 3px;
					   	width: 22px;
					   	height: 21px;
					   	background: url('../img/sprite.png') -40px -2px;
					   }
					}
					.counter{
						display: block;
						position: absolute;
						top: 0px;
						left: 17px;
						color: @red;
						.linear-gradient (top, #ffffff, #e1e1e1);
						.border-radius(50%);
						font: normal 8pt "Arial";
						text-align: center;
						padding: 0 3px;
					}
				}
			}
			.shadow-bg{display: none;}
		}
		.navMenu{
			.gradient-nav-menu;
			.border-radius(4px);
			-webkit-box-shadow: inset 0px 1px 1px #3a83b3;
			box-shadow: inset 0px 1px 1px #3a83b3; 
			border-top: 1px solid #246188;
			&:after{.clearFix}
			nav{
				float: left;
				height: 35px;
				overflow: hidden;
				li{
					display: block;
				   position: relative;
				   border: 1px solid @grey;
				   margin: 4px 0 5px 10px;
				   padding: 3px 35px 5px 10px;
				   background: #fff;
					&:before{
						.before;
						top: 10px;
						right: 10px;
						width: 0;
						border: 4px solid transparent;
						border-top: 5px solid black;
						background: transparent url() 0 0 no-repeat;
					}
					a{
						color: #333333;
						font: bold 16px "Arial";
						text-decoration: none;
					}
				}
				.active{
					display: none;
					z-index: 99999;
    				position: absolute;
    				ul.submenu{
    					ul{
    						padding-left: 20px;
	    					li{
	    						border:0;
	    						list-style-position: outside;
	    						&:before{display: none;};
	    					}
	    				}
    				}
				}
			}
			button{
				float: right;
				width: 32px;
				height: 27px;
				background: url('../img/sprite.png') -65px -11px;
				margin: 3px 5px 0 0;
			}
		}
	}
	main{
		padding: 0 10px;
		.promo{
			.promo-Slider{
				margin: 0 auto;
				input{display: none;}
				label{
					display: block;
					float: left;
					width: 16px;
					height: 25px;
					font: bold 13px "Arial";
					text-shadow: 0 -1px 1px @grey;
					text-align: center;
					line-height: 32px;
					color: #fff;
					background: @lightBlue;
					border: 2px solid @lightBlue;
					border-top: 0;
					margin-right: 1px;
					.border-radius(0 0 5px 5px);
					position: relative;
					top: 235px;
					left: 5px;
    				z-index: 9;
					&:hover{cursor: pointer;}
				}
				input:checked + label{
					background: #fff;
					color: @red;
				}
				.tab_containers{
					width: 580px;
					height: 242px;
					margin: 0 auto;
					background: url("../img/tabs_bg_small.jpg") no-repeat;
					position: relative;
					.border-radius(5px);
					border: 7px solid @lightBlue;
					.border-box;
					h2{
						font: normal 30.61px/33px "CenturyGothic";
						color: @violet; 
						padding: 10px 0 13px 26px;
    					letter-spacing: -2px;
    					position: absolute;
    					top: 0;
					}
					p{
						margin: 84px 0 15px;
    					padding: 0 0 0 30px;
						font: normal 15px/21px "CenturyGothic";
					}
					a{
						display: block;
						width: 276px;
						height: 46px;
						background: url('../img/bg_promo_button.png') no-repeat;
						color: #fff;
						font: bold 18px/46px "CenturyGothic";
						text-align: center;
						margin: 0 0 0 26px;
						text-decoration: none;
						letter-spacing: -1px;
					}
				}
				input#tab_1 + label ~ .tab_containers .tab_1_conts,
				input#tab_2 + label ~ .tab_containers .tab_2_conts,
				input#tab_3 + label ~ .tab_containers .tab_3_conts,
				input#tab_4 + label ~ .tab_containers .tab_4_conts,
				input#tab_5 + label ~ .tab_containers .tab_5_conts{
					display: none;
				}
				input#tab_1:checked + label ~ .tab_containers .tab_1_conts,
				input#tab_2:checked + label ~ .tab_containers .tab_2_conts,
				input#tab_3:checked + label ~ .tab_containers .tab_3_conts,
				input#tab_4:checked + label ~ .tab_containers .tab_4_conts,
				input#tab_5:checked + label ~ .tab_containers .tab_5_conts {
					display: block;
				}
			}
			.action{
				margin-top: 37px;
				h1{
					color: @red;
					font: 900 italic 25px "Arial";
					margin: 10px 0 4px;
				}
				figure{
					margin: 10px 0;
					display: inline-block;
					width: 100%;
					clear: both;
					.image-Wrap{
						display: block;
						width: 54px;	
						float: left;
						margin: 0 17px 0 0;
						img{
							padding: 0 0 0 3px;
							float: left;
						}
					}
					p{line-height: 32px;}
					.title{
						font-size: 13px;
						margin: 8px 5px 0 0;
    					display: block;
    					float: left;
    					&:link{color: @darkBlue;}
						&:visited{color: @visitLink;}
					}
				}
				.bevelButton{
					.skewButton;
					position: relative;
					display: inline-block;
					margin: 11px 0 0 5px;
					&:before{.skewButton_Arrow;}
				}
			}
		}
		.tab{
			margin: 25px auto 0;
			position: relative;
			input{display: none;}
			#label_special_tab_4,#label_special_tab_3,#label_special_tab_2{display: none;}
			.subList{
				display: block;
				position: absolute;
				top: 25px;
				left:  230px;
				width: 32px;
			   height: 27px;
			   background: url(../img/sprite.png) -65px -11px;
			   z-index: 99;
			}
			label{
				display: block;
				width: 210px;
				float: left;
				display: inline-block;
				clear: both;
				font: 900 italic 18px "Arial";
				text-align: center;
				color: @darkBlue;
				border-bottom: 1px dashed @darkBlue;
				margin: 10px 15px;
				padding: 10px 15px;
				margin-right: 1px;
				position: relative;
				top: 1px;
    			z-index: 9;
				&:hover{cursor: pointer;}				
			}
			input:checked + label{
				font: 900 italic 20px "Arial";
				border: 1px solid @lightBlue;
				border-bottom: 0;
				.gradient;
				color: @red;
				padding: 10px 49px 10px 10px;
				.border-radius(5px 5px 0 0);
				margin-bottom: 0;
				&:first-of-type{margin-bottom: 0; margin-left: 0;}
			}
			.special_tab_containers{
				clear: both;
				border: 1px solid @lightBlue;
				.border-radius(0 5px 5px); 
				position: relative;
				.topSection{
					margin: 10px 22px 0;
					&:after{.clearFix;}
					.bevelButton{
						.skewButton;
						float: right;
						position: relative;
						&:before{.skewButton_Arrow;}
					}
				}
				.scroll-img{
					ul{
						li{
							.container_item{
								width: 200px;
								.preview-Picture{
									height: 125px;
									img{
										display: block;
									}
								}
								.commerce_text{
									color: @red;
									font: normal 13px/18px "Arial";
									display: block;
									clear: both;
									margin-bottom: 5px;
								}
								.title{
									letter-spacing: -1px;
								}
								.old_price{
									span{
										display: inline-block;
										position: relative;
										font: bold 15px "Arial";
										color: #999999;
										&:before{
											.before;
											background: @red;
											width: 100%;
											height: 1px;
											top: 50%;
										}
									}
								}
								.usd{
									font: 11px "Arial";
									color: @green;
									display: block;	
								}
								.tooltip{
									position: absolute;
									top: 0;
									right: 10px;
									width: 71px;
									height: 105px;
									background: url("../img/tooltip.png");
									z-index: 99;
									img{
										display: block;
										margin: 5px 0 0 13px;
									}
								}
								.bevelButton{
									.gradient; 
									.skew(-21deg,0deg);
									.border-radius(5px 1px 5px 1px);
									border: 1px solid @grey;
									padding: 0px 45px 0px 6px;
									margin-top: 5px;
									position: relative;
									clear: both;
									display: inline-block;
									font: 900 18px "Arial";
									color: #333333;
									text-decoration: none;
									span{
										.skew(13deg,0deg);
										display: block;
										float: left;
									}
									.small-Text{
										font: 100 13px "Arial";
										margin: 7px 0 0 2px;
									}
									&:before{
										.before;
										top: 3px;
										right: 8px;
										background: url("../img/sprite.png") -2px -24px;
										width: 19px;
										height: 20px;
										.skew(21deg,0deg);
									}
								}
							}
							.superPrice, .sale, .gift{position: relative;}
							.superPrice:before, .sale:before, .gift:before{
								.before;
								top: -15px;
								left: -10px;
								background: url("../img/sprite.png");
								width: 68px;
								height: 41px;
							}
							.superPrice:before{background-position: 0 -235px;}
							.sale:before{background-position: 0 -277px;}
							.gift:before{background-position: 0 -193px;}
						}
					}
				}
			}
			input#special_tab_1 + label ~ .special_tab_containers .special_tab_1_conts,
			input#special_tab_2 + label ~ .special_tab_containers .special_tab_2_conts,
			input#special_tab_3 + label ~ .special_tab_containers .special_tab_3_conts,
			input#special_tab_4 + label ~ .special_tab_containers .special_tab_4_conts{
				display: none;
			}
			input#special_tab_1:checked + label ~ .special_tab_containers .special_tab_1_conts,
			input#special_tab_2:checked + label ~ .special_tab_containers .special_tab_2_conts,
			input#special_tab_3:checked + label ~ .special_tab_containers .special_tab_3_conts,
			input#special_tab_4:checked + label ~ .special_tab_containers .special_tab_4_conts{
				display: block;
			}
		}
		.brand{
			margin: 30px 0 0;
			border-bottom: 1px solid #c4c4c4;
    		padding: 0 0 15px;
			.topSection{
				padding: 5px 0 0;
				&:after{.clearFix}
				p{
					max-width: 290px;
					float: left;
					color: #333333;
					font: italic bold 15px "Arial";
				}
				.bevelButton{
					.skewButton;
					float: right;
					position: relative;
					margin: 5px 12px 0 0;
					&:before{.skewButton_Arrow;}
				}
			}
			.brand-Row{
				margin: 10px 0 0;
				.half-Row-Brand{
					margin: 0 0 3px;
					position: relative;
					&:before{
						.before;
						top: 0;
						left: 0px;
						width: 1px;
						height: 112px;
						background: #fff url() 0 0 no-repeat;
						z-index: 1;
					}
					&:after{.clearFix;}
					.wrap-Block{
						text-align: center;
						float: left;
						&:after{.clearFix;}
						img{vertical-align: middle;}
						.upper-Block{
							border-bottom: 1px solid #cecece;
							&:after{.clearFix;}
							div{
								width: 145px;
								height: 60px;
								float: left;
								line-height: 60px;
								position: relative;
								&:before{
									.before;
									background: #ffffff;
									background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 22%, #e8e7e7 67%, #e4e3e3 83%, #e3e2e2 100%);
									background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 22%,#e8e7e7 67%,#e4e3e3 83%,#e3e2e2 100%);
									background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 22%,#e8e7e7 67%,#e4e3e3 83%,#e3e2e2 100%);
							      top: 0px;
								   bottom: 0px;
								   width: 1px;
								}
							}
						}	
						.lower-Block{
							&:after{.clearFix;}
							div{
								width: 145px;
								height: 60px;
								position: relative;
								float: left;
								line-height: 60px;
								&:before{
									.before;
								   width: 1px;
								   height: 56px;
								   background: #dddcdc;
									background: -moz-linear-gradient(top, #dddcdc 0%, #dddcdc 13%, #e0dfdf 25%, #fbfbfb 95%, #ffffff 96%, #ffffff 100%);
									background: -webkit-linear-gradient(top, #dddcdc 0%,#dddcdc 13%,#e0dfdf 25%,#fbfbfb 95%,#ffffff 96%,#ffffff 100%);
									background: linear-gradient(to bottom, #dddcdc 0%,#dddcdc 13%,#e0dfdf 25%,#fbfbfb 95%,#ffffff 96%,#ffffff 100%);
								   top: 0px;
								   bottom: 0px;
								   width: 1px;
								}
							}
						}
					}
				}
			}
			.detail-Brand{
				margin: 30px 0 0 0;
				ul{
					width: 127px;
					padding: 0 0 0 12px; 
					display: inline-block;
					vertical-align: top;
					li{
						line-height: 26px;
						a{.title;}
					}
				}
			}
		}
		.news-List{
			margin: 30px 0 20px;
			padding: 0 0 83px;
			border-bottom: 4px solid @lightBlue;
			position: relative;
			&:before{
				.before;
				bottom: 2px;
				width: 100%;
				height: 50px;
				.linear-gradient (top, #ffffff,  #e9e9e9);
			}
			.topSection{
				padding: 0 0 10px;
				&:after{.clearFix}
				h2{
					float: left;
					color: #333333;
					font: italic 900 20px "Arial";
				}
				.bevelButton{
					.skewButton;
					float: right;
					position: relative;
					margin: 0 16px 0 0; 
					&:before{.skewButton_Arrow;}
				}
			}
			.news-String{
				.news{
					margin: 12px 0 0 0;
					display: inline-block;
					clear: both;
					.picture-News{
						width: 178px;
						height: 127px;
						float: left;
					}  
					.title{
						display: block;
						margin: 0 0 10px;
						&:link{color: @darkBlue;}
						&:visited{color: @visitLink;}
					}
					p{line-height: 20px;}
				}
			}
		}
	}
	footer{
		padding: 0 11px;
		.container{
			.description{
				font: 15px "Arial";
				padding: 2px 0 5px;
				span{padding-right: 5px;}
			}
			.linkContainer-item{width: 80%;}
			.container_item{
				margin: 18px 0 30px;
				&:last-of-type{
					border-top: 1px solid @grey;
					padding-top: 25px;
				}
				&:after{.clearFix;}
				div{
					float: left;
					margin: 0 90px 0 0;
					&:last-of-type{
						margin: 5px 0 0;
						a.description{
							clear: both;
							display: block;
							text-decoration: underline;
						}
					}	
					.description{
						padding: 0;
						line-height: 18px;
						&:first-of-type{font-weight: bold;}
						&:last-of-type{font-weight: normal;}
					}
				}
				.phone{
					font: bold 24px "Arial";
					color: @darkGrey;
					letter-spacing: -1px;
					span{font-weight: normal;}
				}
				.bevelButton{
					.skewButton;
					float: left;
					padding-right: 10px;
					padding-left: 10px;
					margin-bottom: 10px;
					text-decoration: inherit;
					span{
						font: normal 13px "Arial";
						border-bottom: 1px dotted @darkBlue;
						text-decoration: none;
					}
					&:before{display: none;}
				}
				.description{font-size: 13px;}
				.mastercard, .webmoney, .visa{
					position: relative;
					display: block;
					margin-right: 10px;
					float: left;
					&:before{
						.before;
						height: 28px;
						top: 0;
						background: url(../img/sprite.png);
					}
				}
				.visa:before{background-position: -3px -44px; width: 65px;	left: 0;}
				.mastercard:before{background-position: -3px -73px; width: 44px; left: 71px;}
				.webmoney:before{background-position: 0 -103px; width: 104px; left: 121px;}
				.title{
					position: relative;
					line-height: 49px;
				   padding: 0px 0 0 35px;
				   margin: 0 35px 0 0;
				   font-size: 13px;
					&:last-of-type{margin: 0;}
				}
				.fb, .vk, .tw {position: relative;}
				.fb:before, .vk:before, .tw:before{
					.before;
					top: -5px;
					left: 0;
					width: 31px;
					height: 31px;
					background: url("../img/sprite.png")
				}
				.fb:before{	background-position: -65px -131px;}
				.vk:before{ background-position: -1px -131px;}
				.tw:before{ background-position: -33px -131px;}
				.center{
					display: block;
					width: 350px;
					margin: 0 auto;
					li{
						display: block;
						float: left;
						&:last-of-type{width: 62%;}
						.company{
							display: block;	
							width: 115px;
							height: 22px;
							background: url("../img/sprite.png") 0 -168px;
							float: left;
							margin-right: 15px;
						}
						div{
							line-height: 13px;
						   font-size: 12px;
						   color: @grey;
						   margin: 0;
						   span{
						    	color: #4e4e4e;
						    	clear: both;
						    	display: block;
						   }
							a{
								color: #0066aa;
								text-decoration: underline;
						   }
						}
					}
				}
			}
		}
	}
}
